/* Path: Public/assets/css/map_overlays.css */

/* 可調整：主圓大小、LOGO大小  */
.my-location-dot{
  --dot: 24px;      /* 主圓直徑：你現在 18px，改 22~26 會剛好 */
  --logo: 22px;     /* LOGO 直徑：你現在看起來太小就加大 */
  --ring: 0.5px;      /* 白邊粗細 */
  --pulse: 2.8;     /* 外圈擴散倍率 */

  position:absolute;
  transform:translate(-50%,-50%);
  width:var(--dot);
  height:var(--dot);
  border-radius:50%;
  background:rgb(255, 255, 255);
  border:var(--ring) solid #fff;
  box-shadow:0 2px 10px rgba(0,0,0,.25);
  z-index: index 500;
  pointer-events:none;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* LOGO */
.my-location-dot__logo{
  width:var(--logo);
  height:var(--logo);
  object-fit:contain;
  display:block;
  border-radius:50%;
}

/* 外圈呼吸波紋 */
.my-location-dot::before{
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  width:var(--dot);
  height:var(--dot);
  border-radius:50%;
  background:rgba(105, 105, 243, 0.363);
  transform:translate(-50%,-50%);
  animation:myloc-pulse 1.4s ease-out infinite;
}

/* 內圈微跳動（心跳感） */
.my-location-dot::after{
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  width:var(--dot);
  height:var(--dot);
  border-radius:50%;
  transform:translate(-50%,-50%);
  animation:myloc-beat 1.2s ease-in-out infinite;
}

@keyframes myloc-pulse{
  0%{transform:translate(-50%,-50%) scale(1); opacity:.75;}
  100%{transform:translate(-50%,-50%) scale(var(--pulse)); opacity:0;}
}

@keyframes myloc-beat{
  0%,100%{transform:translate(-50%,-50%) scale(1);}
  40%{transform:translate(-50%,-50%) scale(1.10);}
  55%{transform:translate(-50%,-50%) scale(0.98);}
}
